.car-specs-title {
  font-family: 'Comfortaa', cursive;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.car-specs-contant {
  display: flex;
  position: sticky;
  top: 90px;
  height: 25rem;
  flex-direction: column;
  background-color: #e9e9e9;
  border-radius: 0.8rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  box-shadow: 0px 10px 10px 5px #777777;
}

.car-name-text {
  font-family: 'Comfortaa', cursive;
  font-size: 1.3rem;
  color: #008f50;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.car-specs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.car-brand-container {
  flex-basis: 50%;
}

.car-year-container {
  flex-basis: 50%;
}

.car-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.car-text {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

.car-description {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex: 1;
}

.car-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.edit-button {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  border: 0;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #d1d1d1;
  box-shadow: 0px 10px 15px #0000007a;
}

.edit-button:focus {
  outline: none;
}

.pencil-icon {
  height: 2.25rem;
  width: 2.25rem;
}

.buy-button {
  height: 2.8rem;
  width: 8rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #008f50;
  font-family: 'Comfortaa', cursive;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-button:hover {
  background-color: #00dc7b;
  box-shadow: 0px 10px 15px #0000007a;
}

.buy-button:focus {
  outline: none;
}

.shopping-cart-icon {
  height: 2rem;
  width: 2rem;
}