.car-list-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-right: 0.5rem;
}

.car-list-text {
  font-family: 'Comfortaa', cursive;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.car-list-contant {
  background-color: #bbbaba;
  margin: 0.3rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  border: none;
  transition: ease-in-out, all .2s ease-in-out;
}

.car-list-contant:hover {
  box-shadow: 0px 10px 10px 5px #777777;
}

.car-list-contant:focus {
  outline: none;
  box-shadow: 0px 10px 10px 5px #777777;
}

.car-list-brand-text {
  font-family: 'Comfortaa', cursive;
  font-size: 1.3rem;
}

.car-list-model-text {
  font-family: 'Montserrat', sans-serif;
  color: #008f50;
}

.car-list-year-text {
  font-family: 'Montserrat', sans-serif;
}